body {
    color: white;
    font-family: Comfortaa, sans-serif;
    /* Prevent the body from scrolling */
    overflow: hidden;
    /* Set the body height to 100% of the viewport height */
    height: 100vh;
    /* Set the body width to 100% of the viewport width */
    width: 100vw;
    /* Set the body margin to 0 to remove any default margin */
    margin: 0;

}

#page {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 32px);
}

#titlebar {
    display: flex;
    background-color: #2f3241;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
}

.titlebar-text {
    color: #FFFFFF;
    position: absolute;
    top: -7px;
    left: 10px;
}

.modslist {
    /* Set the height and width of the div */
    height: calc(100vh - 50px);
    width: auto;
    flex-grow: 1;

    -webkit-user-select: none;


    /* Add a border to visually separate the div from the rest of the page */
    border: 1px solid #000;

    /* Set overflow-y to 'scroll' to enable vertical scrolling */
    overflow-y: scroll;

    /* Optional: Set overflow-x to 'hidden' to prevent horizontal scrolling if content exceeds the width */
    overflow-x: hidden;
}

.modinfo {

    width: 500px;
}

#topbar {
    display: flex;
}

.content {
    display: flex;
    flex-grow: 1;
}

tr.mod-row:hover {
    background-color: rgba(255, 100, 100, 0.1);
    transition: background-color 0.1s linear;
}

tr.selected {
    font-weight: bold;
    background-color: rgba(255, 100, 100, 0.2);
    transition: background-color 0.1s linear;
}

tr.selected:hover {
    font-weight: bold;
    background-color: rgba(255, 100, 100, 0.25);
    transition: background-color 0.1s linear;
}


